<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Please Log In</title>
	</head>
	<body>
		<h1>Please Log In</h1>
		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>
		<a th:href="@{/oauth2/authorization/google}">Login with Google</a>
		<form method="post" action="http://localhost:8081/process-login">
			<div>
				<input name="username" placeholder="Username" type="text"/>
			</div>
			<div>
				<input name="password" placeholder="Password" type="password"/>
			</div>
			<input type="submit" value="Log in"/>
		</form>
	</body>
</html>